:root {
  --accent-color-dark-red: #d41443;
  --pink-color-background: #ffb8ca;
  --title-text-color: #000000;
  --text-color: #907e82;
  --primary-white-color: #ffffff;
  --transition: cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.3s;
}
