:root {
  --accent-color-dark-red: #d41443;
  --pink-color-background: #ffb8ca;
  --title-text-color: #000000;
  --text-color: #907e82;
  --primary-white-color: #ffffff;
}

.btn {
  font-family: 'DM Sans';

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--accent-color-dark-red);
  background-color: var(--primary-white-color);
  border-radius: 22px;
  cursor: pointer;
  transition: 0.3s;
  &:hover,
  :focus {
    background-color: #ecebeb;
  }
}
.btn-red {
  font-family: 'DM Sans';

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color-dark-red);
  border-radius: 22px;
  cursor: pointer;
  transition: 0.3s;
  &:hover,
  :focus {
    background-color: #c7133e;
  }
}
