<header class="header">
  <div class="container header__container">
    <div class="header__menu-container">
      <a class="header__logo" href="./index.html" rel="noopener noreferrer"
        ><img src="./images/logo.png" alt="Ice cream logo"
      /></a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="/" rel="noopener noreferrer">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/" rel="noopener noreferrer">About us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/" rel="noopener noreferrer"
              >How it’s made?</a
            >
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/" rel="noopener noreferrer"
              >Our products</a
            >
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/" rel="noopener noreferrer">Contact</a>
          </li>
        </ul>
      </nav>
      <a class="nav__btn btn" href="/" rel="noopener noreferrer">Buy now</a>
    </div>
    <div class="header__controls">
      <h1 class="header__title">
        ice cream made with <span class="header__title-accent">passion</span>
      </h1>
      <ul class="btns__list">
        <li class="btns__item">
          <a class="btns__link btn-red" href="/" rel="noopener noreferrer"
            >Products</a
          >
        </li>
        <li class="btns__item">
          <a class="btns__link btn" href="/" rel="noopener noreferrer"
            >How it’s made?</a
          >
        </li>
      </ul>
    </div>
    <ul class="quantity">
      <li class="quantity__item">
        <span class="quantity__span">16</span>
        <p class="quantity__text">cafes</p>
      </li>
      <li class="quantity__item">
        <span class="quantity__span">23</span>
        <p class="quantity__text">food trucks</p>
      </li>
    </ul>
    <div class="header__description">
      <p class="header__description-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a class="header__description-link" href="/" rel="noopener noreferrer"
        ><svg class="header__description-icon">
          <use href="./images/symbol-defs.svg#icon-arrow-right2"></use></svg
      ></a>
    </div>
  </div>
</header>
