<section class="made">
  <div class="made__container container">
    <p class="made__text section__text">tradition and love</p>
    <h2 class="made__title section__title">how it’s made?</h2>
    <article class="made__article">
      <img
        class="made__article-pic"
        width="516"
        height="516"
        src="./images/how-its-made-cow-milk.png"
        alt="cow and milk"
      />
      <div class="made__text-wrapper">
        <h3 class="made__text-title">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </h3>
        <p class="made__text-descr">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="made__text-descr2">Aliquam erat volutpat. Aenean accumsan.</p>
        <a class="made__text-wrapper-link btn" href="./index.html"
          >Read more
          <svg class="made__text-wrapper-btn">
            <use href="./images/sprite.svg#arrow" width="10" height="10"></use>
          </svg>
        </a>
      </div>
    </article>
    <ul class="made__list">
      <li class="made__item">
        <p class="made__item-text">721</p>
        <p class="made__item-descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="made__item">
        <p class="made__item-text">16kg</p>
        <p class="made__item-descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="made__item">
        <p class="made__item-text">84</p>
        <p class="made__item-descr">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
