<section class="location">
  <div class="container location__container">
    <ul class="location__list">
      <li class="location__item">
        <h5 class="location__type">cafe</h5>
        <div class="location__city-information">
          <h6 class="location__title">Chicago</h6>
          <p class="location__city-descr">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="location__schedule location__city-information">
          <li class="location_schedule-item">
            <h6 class="location__title-days">Monday - Friday</h6>
            <p class="location__schedule-time">
              <time>06:00AM - 10:00PM</time>
            </p>
          </li>
          <li class="location_schedule-item">
            <h6 class="location__title-days">Saturday - Sunday</h6>
            <p class="location__schedule-time">
              <time>08:00AM - 16:00PM</time>
            </p>
          </li>
        </ul>
        <div class="location__contacts">
          <ul class="location__contacts-list">
            <li class="location__contacts-item">
              <a href="tel:+610383766284 " class="location__contacts-link"
                >+61(0) 383 766 284
              </a>
            </li>
            <li class="location__contacts-item">
              <a
                href="mailto:noreply@envato.com"
                class="location__contacts-link"
                >noreply@envato.com
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="location__item">
        <h5 class="location__type">food truch</h5>
        <div class="location__city-information">
          <h6 class="location__title">Chicago</h6>
          <p class="location__city-descr">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="location__schedule location__city-information">
          <li class="location_schedule-item">
            <h6 class="location__title-days">Monday - Friday</h6>
            <p class="location__schedule-time">
              <time>06:00AM - 10:00PM</time>
            </p>
          </li>
          <li class="location_schedule-item">
            <h6 class="location__title-days">Saturday - Sunday</h6>
            <p class="location__schedule-time">
              <time>08:00AM - 16:00PM</time>
            </p>
          </li>
        </ul>
        <div class="location__contacts">
          <ul class="location__contacts-list">
            <li class="location__contacts-item">
              <a href="tel:+610383766284" class="location__contacts-link"
                >+61(0) 383 766 284
              </a>
            </li>
            <li class="location__contacts-item">
              <a
                href="mailto:noreply@envato.com"
                class="location__contacts-link"
                >noreply@envato.com
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="location__item">
        <h5 class="location__type">cafe</h5>
        <div class="location__city-information">
          <h6 class="location__title">Chicago</h6>
          <p class="location__city-descr">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="location__schedule location__city-information">
          <li class="location_schedule-item">
            <h6 class="location__title-days">Monday - Friday</h6>
            <p class="location__schedule-time">
              <time>06:00AM - 10:00PM</time>
            </p>
          </li>
          <li class="location_schedule-item">
            <h6 class="location__title-days">Saturday - Sunday</h6>
            <p class="location__schedule-time">
              <time>08:00AM - 16:00PM</time>
            </p>
          </li>
        </ul>
        <div class="location__contacts">
          <ul class="location__contacts-list">
            <li class="location__contacts-item">
              <a href="tel:+610383766284" class="location__contacts-link"
                >+61(0) 383 766 284
              </a>
            </li>
            <li class="location__contacts-item">
              <a
                href="mailto:noreply@envato.com"
                class="location__contacts-link"
                >noreply@envato.com
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="location__information-list">
      <li class="location__information-item">
        <a href="index.html" class="location__information-link btn-red"
          >Our Locations
          <svg class="made__text-wrapper-btn--r">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="location__information-item">
        <a href="index.html" class="location__information-link btn"
          >Franchise
          <svg class="made__text-wrapper-btn">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="location__overlay visually-hidden">
    <div class="location__modal">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2908.3692632830885!2d-71.63416959999999!3d43.2017437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e23e27ad1625d3%3A0x451ac6e5b542d041!2s107%20Beech%20Hill%20Rd%2C%20Hopkinton%2C%20NH%2003229!5e0!3m2!1sen!2sus!4v1685065689365!5m2!1sen!2sus"
        style="border: 0"
        width="100%"
        height="100%"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
