<section class="products">
  <div class="container">
    <p class="products__text section__text">100% natural</p>
    <h2 class="products__title section__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <img
          src="./images/products1.png"
          alt="ice cream with strawberry"
          class="products__item-pic"
        />
        <div class="products__item-info">
          <h3 class="products__item-title">ice cream</h3>
          <p class="products__item-descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a href="./index.html" class="products__item-link"
            ><svg class="products__item-icon">
              <use href="./images/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <img
          src="./images/products2.png"
          alt="ice cream with strawberry"
          class="products__item-pic"
        />
        <div class="products__item-info">
          <h3 class="products__item-title">ice coffee</h3>
          <p class="products__item-descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a href="./index.html" class="products__item-link"
            ><svg class="products__item-icon">
              <use href="./images/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <img
          src="./images/products3.png"
          alt="ice cream with strawberry"
          class="products__item-pic"
        />
        <div class="products__item-info">
          <h3 class="products__item-title">milkshakes</h3>
          <p class="products__item-descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a href="./index.html" class="products__item-link"
            ><svg class="products__item-icon">
              <use href="./images/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
