<section class="reviews">
  <div class="reviews__container container">
    <div class="collage">
      <img
        src="./images/collage-pic-removebg.png"
        alt="many photos with ice-cream"
        class="collage__pic"
        width="1277"
        height="430"
      />
    </div>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="reviews__article">
            <img
              class="reviews__photo"
              src="./images/amanda.png"
              width="85"
              height="85"
              alt="Amanda from Los Angeles"
            />
            <div class="reviews__descr">
              <div class="reviews__descr-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit <span class="line"></span>nulla quam
                nunc, accumsan congue. Lorem ipsum primis in nibh vel
                risus.<span class="line"></span>
              </div>
            </div>
            <h4 class="reviews__title">Amanda, Los Angeles</h4>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="reviews__article">
            <img
              class="reviews__photo"
              src="./images/emily.png"
              width="85"
              height="85"
              alt="Emily from Concord"
            />
            <div class="reviews__descr">
              <div class="reviews__descr-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit <span class="line"></span>nulla quam
                nunc, accumsan congue. Lorem ipsum primis in nibh vel
                risus.<span class="line"></span>
              </div>
            </div>
            <h4 class="reviews__title">Emily, Concord</h4>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="reviews__article">
            <img
              class="reviews__photo"
              src="./images/sara.png"
              width="85"
              height="85"
              alt="Sara from Boston"
            />
            <div class="reviews__descr">
              <div class="reviews__descr-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit <span class="line"></span>nulla quam
                nunc, accumsan congue. Lorem ipsum primis in nibh vel
                risus.<span class="line"></span>
              </div>
            </div>
            <h4 class="reviews__title">Sara, Boston</h4>
          </article>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
