.header {
  background-color: var(--pink-color-background);
  min-width: 665px;

  &__container {
    padding-top: 37px;
    padding-bottom: 57px;
    background-image: url('../images/bio-milk.png'),
      url('../images/ice-cream-big.png'), url('../images/so-tasty.png'),
      url('../images/ellipse.png');
    background-repeat: no-repeat;
    background-position: left 77px bottom 46px, left 594px bottom 0,
      right 109px bottom 0, top 51px right 267px;
    transition: transform 1s ease-in-out;
  }

  &__logo {
    width: 199px;
    height: 50px;
    margin-left: 46px;
  }
  &__menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__controls {
    margin-top: 84px;
    margin-left: 115px;
    margin-bottom: 112px;
    max-width: 277px;
  }
  &__title {
    margin-bottom: 25px;
    font-family: 'Titan One';

    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--primary-white-color);
  }
  &__title-accent {
    font-family: 'Titan One';

    font-size: 58px;
    line-height: 90.5%;
    /* or 52px */

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--accent-color-dark-red);
  }
  &__description {
    width: 200px;
    margin-left: 295px;
    // margin-bottom: 57px;
    &-text {
      margin-bottom: 20px;
      font-family: 'DM Sans';
      line-height: 20px;

      color: var(--primary-white-color);
    }
    &-link {
      width: 26px;
      height: 26px;
      background-color: var(--primary-white-color);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color var(--transition);
      &:hover,
      :focus {
        background-color: #ecebeb;
        transition: 0.3s;
      }
    }
    &-icon {
      width: 10px;
      height: 10px;
      fill: var(--accent-color-dark-red);
    }
  }
}
.btns__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns__item {
  margin-right: 15px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;

  &__list {
    display: flex;
    align-items: center;
  }
  &__item:not(:last-child) {
    margin-right: 35px;
  }
  &__link {
    font-family: 'DM Sans';

    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: var(--primary-white-color);
    transition: color var(--transition);
    &:hover,
    :focus {
      color: var(--accent-color-dark-red);
      transition: 0.3s;
    }
  }
  &__btn {
    height: 44px;
    width: 159px;
    margin-right: 115px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
  }
}
.btns__link {
  padding-left: 19px;
  padding-right: 19px;
  height: 40px;

  line-height: 18.23px;
}
.quantity {
  position: absolute;
  top: 155px;
  right: 97px;
  &__span {
    font-family: 'Titan One';

    font-size: 46px;
    line-height: 53px;
    /* identical to box height */

    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--accent-color-dark-red);
    &:after {
      content: '';
      width: 30px;
      height: 30px;
      background-color: var(--primary-white-color);
      display: block;
      position: absolute;
      border-radius: 50%;
      top: -5px;
      right: -18px;
      z-index: -1;
    }
  }
  &__item {
    text-align: right;
    position: relative;
  }

  &__text {
    font-family: 'DM Sans';

    font-size: 14px;
    line-height: 18px;

    color: var(--primary-white-color);
  }
}
