.products {
  padding: 127px 115px 119px 112px;

  &__text {
    margin-bottom: 15px;
    font-family: 'Titan One';

    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--pink-color-background);
  }
  &__title {
    padding-bottom: 259px;
    text-align: center;
  }
  &__list {
    display: flex;
    gap: 23px;
    justify-content: center;
  }
  &__item {
    position: relative;
    padding-top: 163px;

    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 50px;
    max-width: 335px;

    padding-bottom: 50px;
    border-radius: 24px;
    transition: transform var(--transition);
    &:hover,
    :focus {
      box-shadow: 0px 10px 15px 0px rgba(236, 36, 153, 0.5);
      transform: translateY(-10px);
    }
  }
  &__item:nth-child(1) {
    background-color: var(--pink-color-background);
  }
  &__item:nth-child(2) {
    background-color: #f0d1a5;
  }
  &__item:nth-child(3) {
    background-color: #c2e297;
  }
  &__item-descr {
    margin-bottom: 62px;
    font-family: 'DM Sans';

    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    max-width: 241px;

    text-align: center;
    letter-spacing: 0.04em;

    color: var(--primary-white-color);
  }
  &__item-title {
    font-family: 'Titan One';

    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    font-style: normal;
    font-weight: 400;
    color: var(--primary-white-color);

    &::after {
      content: '. . .';
      display: block;
      margin: 32px auto 32px;
    }
  }
  &__item-pic {
    width: 335px;
    position: absolute;
    top: -220px;
    left: 1px;
  }
  &__item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item-link {
    width: 40px;
    height: 40px;
    background-color: var(--primary-white-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition);
    &:hover,
    :focus {
      background-color: #ecebeb;
    }
  }
  &__item-icon {
    width: 15px;
    height: 15px;
    fill: var(--accent-color-dark-red);
  }
}
